# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# EC2 Public IP
EC2_PUBLIC_IP=your_ec2_public_ip_here

# Database Configuration
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_HOST=your_db_host_here
DB_PORT=3306
DB_NAME=your_db_name_here

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
S3_BUCKET_NAME=your_s3_bucket_name_here
AWS_REGION=ap-northeast-2
CDN_URL=cdn.threed.site